*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33.3vh;
    width: 100%;
}
.main{
    height: 66vh;
}
.brand{
    width: 260px;
}
.welcome{
    text-align: center;
    font-size: 1.8em;
    width: 90%;
    margin: auto;
    line-height: 1.5em;
    height: 50%;
}
.tel{
    text-align: center;
    height: 50%;
}
.tel input[type=text]{
    height: 40px;
    background-color: #eee;
    border: 1px solid #aaa;
}
.tel-icon{
    font-size: 1.4em;
    background-color: #369;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    padding: 10px;
}
.tel div{
    display: flex;
    justify-content: center;
}
.tel p{
    margin: 1em;
}
.tel input[type=submit]{
    background: #369;
    color: white;
    border: none;
    padding: .5em;
    border-radius: 5px;
    height: 3em;
    width: 35%;
    font-size: 1em;
    margin-top: 1.5em;
}
.bg-modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0
}
.modal{
    background-color: #fff; 
    padding: 3em 1em 1em;
    text-align: center;
}
.btn-yes{
    background-color: #4FCE5D;
    margin: 3em 1em 1em;
    border: none;
    padding: 0.5em;
    color: white;
}
.btn-no{
    background-color: #b80101;
    margin: 3em 1em 1em;
    border: none;
    padding: 0.5em;
    color: white;
}
.d-flex{
    display: flex;
}